
###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
matplotlib >= 3.5.1
numpy >= 1.24.4
casadi >= 3.6.3
pdfCropMargins >= 2.1.1
scipy >= 1.10.1
python-tsp >= 0.4.0
